@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --border-color: #e2e8f0;
  --blue-color: #98bef6;
  --cyan-color: #a6f6e8;
  --pink-color: #f592d8;
  --yellow-color: #fdfd94;
  --green-color: #94fb80;
  --peach-color: #f9cea4;
  --purple-color: #b1aefc;
  --red-color: #ff9898;
  --primary-color: #000000;
  --secondary-color: #383838;

  --danger-color: #ff7878;
  --success-color: #66d857;
  --warning-color: #ffff2c;
  --disabled-color: #8e8e8e;

  --background-color: #ffffff;
}

:root {
  --main: #88aaee;
  --overlay: rgba(
    0,
    0,
    0,
    0.8
  ); /* background color overlay for alert dialogs, modals, etc. */

  --bg: #dfe5f2;
  --bw: #fff; /* white and secondary black e.g. utility class variant would be: bg-[#fff] dark:bg-[#212121] */
  --blank: #000; /* blank black and white */
  --border: #000;
  --text: #000;
  --mtext: #000; /* text that is placed on background with main color e.g. text color of default button */
  --ring: #000;
  --ring-offset: #fff;

  --border-radius: 5px;
  --box-shadow-x: 0px;
  --box-shadow-y: 4px;
  --reverse-box-shadow-x: 0px;
  --reverse-box-shadow-y: -4px;
  --base-font-weight: 500;
  --heading-font-weight: 700;

  --shadow: var(--box-shadow-x) var(--box-shadow-y) 0px 0px var(--border);
}

.dark {
  --bg: #272933;
  --bw: #212121;
  --blank: #fff;
  --border: #000;
  --text: #e6e6e6;
  --mtext: #000;
  --ring: #fff;
  --ring-offset: #000;

  --shadow: var(--box-shadow-x) var(--box-shadow-y) 0px 0px var(--border);

  --border-color: #2d2f32;
  --blue-color: #306cc7;
  --cyan-color: #40b19b;
  --pink-color: #d847ac;
  --yellow-color: #b4b42e;
  --green-color: #3cb85d;
  --peach-color: #ce8c4a;
  --purple-color: #625dde;
  --red-color: #c54444;
  --primary-color: #ffffff;
  --secondary-color: #d1d1d1;

  --background-color: #121212;
}

@layer base {
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  margin: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border-radius: 100px;
}

#schedule {
  background: 
    repeating-linear-gradient(
      to right,
      transparent 0 calc(100%/7 - 1px),
      rgba(0, 0, 0, 0.212) calc(100%/7 - 1px) calc(100%/7)
    ),
    repeating-linear-gradient(
      to bottom,
      transparent 0 calc(100%/10 - 1px),
      rgba(0, 0, 0, 0.212) calc(100%/10 - 1px) calc(100%/10)
    );
}